@model ViewModels

<div class="block-title">
    New Category
</div>
<form action="/SaveProductCategoryRel/@Model.ProductModel.ProductId" method="POST">
    
    <div class="form-group">
        <span asp-validation-for="@Model.CategoryModel.CategoryId" class="errorMessage"></span>
        <label asp-for="@Model.CategoryModel.CategoryId"></label>
        <select asp-for="@Model.CategoryModel.CategoryId" class="form-control">
            @foreach (var cat in @Model.Categories)
            {
                <option value="@cat.CategoryId">
                    @cat.name
                </option>
            }
        </select>
    </div>

    <button class="btn btn-primary">Add</button>
</form>